.main {
  @apply grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 16.75rem 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
